.editorBackStyle {
        -fx-background-color: #FFF0E7
}

.addButtonStyle {
        -fx-background-color: #F09DD9;
}

.deleteButtonStyle {
        -fx-background-color: #F09DD9;
}

.editButtonStyle {
        -fx-background-color: #F09DD9;
}
